<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
      type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="kasnebAccreditation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="CicPortal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="KecoboNew.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.webServer>
    <handlers>
      <add name="AjaxFileUploadHandler" verb="POST" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler, AjaxControlToolkit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0"
       path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800"/>
      </requestFiltering>
    </security>
    
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647" executionTimeout="120000" requestLengthDiskThreshold="2147483647"/>
    <customErrors mode="RemoteOnly" defaultRedirect="/ErrorPages/ApplicationError.html">
      <error statusCode="404" redirect="/ErrorPages/404.html" />
      <error statusCode="505" redirect="/ErrorPages/505.html" />
      <error statusCode="500" redirect="/ErrorPages/500.html"/>
    </customErrors>
    <pages enableEventValidation="false">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    
  </system.web>
  <appSettings>
    <add key="W_USER" value="Dynasoft"/>
    <add key="W_PWD" value="Enterprise@911!"/>
    <add key="DOMAIN" value="Empower"/>
    <add key="ODATA_URI" value="http://192.168.0.95:9048/BC140/OData/Company('Data%20Migration')/"/>
    <add key="FilesLocation" value="D:\ERPDOCUMENTS"/>
     <add key="FileFolderApplication" value="downloads" />
    <add key="CheckFileExtensions" value="false"/>
   <add key="AllowedFileExtensions" value="docs,png,xlsx,csv,pdf,JPG,JPEG,JFIF,GIF"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
   <add key="S_USERNAME" value="SPadmin"/>
    <add key="S_PWD" value="670Bugs!"/>
    <add key="S_DOMAIN" value="EMPOWER"/>
    <add key="sServer_URL" value="http://192.168.0.86/sites/Intranet/"/>
    <add key="S_URL" value="http://192.168.0.86/sites/KASNEBERP/"/>
  </appSettings>

  <applicationSettings>
    <kasnebAccreditation.Properties.Settings>
      <setting name="kasnebAccreditation_CuePortal_CuePortal" serializeAs="String">
        <value>http://192.168.0.95:9047/BC140/WS/Data%20Migration/Codeunit/CuePortal</value>
      </setting>
      <setting name="kasnebAccreditation_NavExtender_NavXtender" serializeAs="String">
        <value>http://192.168.0.95:9047/BC140/WS/Data%20Migration/Codeunit/NavXtender</value>
      </setting>
    </kasnebAccreditation.Properties.Settings>
  </applicationSettings>
</configuration>